/* Text center centers me internally 
Margin Auto center me inside of my parent */
body{
	background-image: url("../casinobackground.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x repeat-y;
	/* background-size: 100% auto; */
	animation: animatedBackground 300s linear infinite;
	width: 100%;
	height: 100%;
}
.the-table{
	background-color: #191970;
	border: 5px solid #663300;
	border-radius: 10px;
	margin-top: 50px;
	padding: 30px 0px;
	transform: perspective(1200px) rotateX(36deg);
	border-radius: 10%;
	box-shadow: 0px 0px 200px 0px black;
}
.card{
	height: 120px;
	/* Make this transparent so it doesnt interfere with cards */
	background-color: transparent;
	/* border-radius: 5px; */
	color: black;
	margin: 10px;
	width: 12.6%;
	float: left;
}
.card img{
	height: 100%;
	width: 100%;
	/* CARD SHADOW */
	box-shadow: 0px 0px 25px 0px black;
}

.dealcard-1{
	animation: cardDealing 5s;
}

button{
	margin: auto;
	text-align: center;
	border-radius: 50%;
}
.button-row{
	text-align: center;
}
.player-total, .dealer-total{
	color: white;
}
.button-row{
	margin-top: 100px;
}

/* ANIMATIONS */
/* CARD ANIMATIONS */
@keyframes cardDealing{
	0%{transform: translate(50px, 700px) }
	10%{transform: translate(100px, 100px) skew(5deg, 5deg)}
	20%{transform: translate(200px, 500px)}
	30%{transform: translate(300px, 100px) skew(5deg, 5deg)}
	40%{transform: rotateY(180deg)}
	50%{transform: rotateX(180deg)}
	60%{}
	70%{}
	80%{}
	90%{}
	100%{}
}

/* BACKGROUND ANIMATIONS */
@keyframes animatedBackground{
	0%{background-position: 0% -1000%;}
	/* 50%{background-position: 0% 50%;} */
	100%{background-position: 0% 1000%;}
}
