/* Text center centers me internally 
Margin Auto center me inside of my parent */
#background{
	background-image: url("../casinobackground.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-size: 100% auto;
	animation: animatedBackground 40s linear infinite;
}
.the-table{
	background-color: #191970;
	border: 5px solid #663300;
	border-radius: 10px;
	margin-top: 50px;
	padding: 30px 0px;
	transform: perspective(1200px) rotateX(36deg);
	border-radius: 10%;
}
.card{
	height: 120px;
	/* Make this transparent so it doesnt interfere with cards */
	background-color: transparent;
	/* border-radius: 5px; */
	color: black;
	margin: 10px;
	width: 12.6%;
	float: left;
}
.card img{
	height: 100%;
	width: 100%;
}

.dealcard-1{
	animation: cardDealing 5s;
}

button{
	margin: auto;
	text-align: center;
}
.button-row{
	text-align: center;
}
.player-total, .dealer-total{
	color: white;
}


/* ANIMATIONS */
/* CARD ANIMATIONS */
@keyframes cardDealing{
	0%{transform: translateY(100px) }
	10%{transform: translate(100px, 100px) skew(5deg, 5deg)}
	20%{transform: translate(200px, 500px)}
	30%{transform: translate(300px, 100px) skew(5deg, 5deg)}
	40%{}
	50%{}
	60%{}
	70%{}
	80%{}
	90%{}
	100%{}
}

/* BACKGROUND ANIMATIONS */
@keyframes animatedBackground{
	0%{background-position: 0 0;}
	100%{background-position: 100% 0;}
}
